*, *::before, *::after {
    box-sizing: border-box !important;
    margin:0;
    padding:0;
}
html {
    overflow:scroll;
    height:auto;
}
body {
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
    
}

